<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "{{ url_for('static',filename='styles/index_dark.css') }}" rel="stylesheet" type="text/css" id="theme_css">
    <link rel="icon" href="../static/images/character/solar_icon.png">
    <script src="{{ url_for('static', filename='src/jquery.min.js') }}"></script>
    <script src="https://kit.fontawesome.com/4237cc4cee.js" crossorigin="anonymous"></script>
    <title>Solar</title>
</head>
<body>

<div class="header-con">
    <img class="solar" src="../static/images/character/solar_icon_head.png" alt="solar">
    <h2> &nbsp;&nbsp;&nbsp;&nbsp; Solar está en línea</h2>
</div>

<div id="container" class="container">
<div class="bg-chat">
    <div id="chat" class="chat">
        <div id="messages" class="messages"></div>
            <input id="userQuestion" class="edit" type="text" placeholder="¡Hazme una pregunta!" style="border-top: none; border-left: none; border-right: none;"/>
            <button class="send" type="button" id="btns">Enviar</button>
    </div>
</div>
</div>
<div class="container2">
    <div class="items" id="item2">
     </div>
   <div class="items" id="item3">
        <button type="button" class="buttonNV" id="buttonKW">
            <img class="icons" id="iconkw">
            <a href="/keywords" style="text-decoration: none; color: #f7e66b;" target="_blank" rel="noopener noreferrer"><i class="fas fa-file-alt"></i>  Palabras Clave</a>
        </button>
        <button type="button" class="buttonNV" id="buttonKW">
            <img class="icons" id="iconkw">
            <a href="/suggest" style="text-decoration: none; color: #f7e66b;" target="_blank" rel="noopener noreferrer"><i class="fas fa-lightbulb"></i>  ¡Colabora una pregunta!</a>
        </button>
        <button type="button" class="buttonNV" id="buttonID">
            <img  class="icons" id="icontc">
            <a href="/logout-student" style="text-decoration: none; color: #f7e66b;"><i class="fas fa-sign-out-alt"></i>  Cerrar Sesión</a>
        </button>
    </div>
</div>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='src/index.js') }}"></script>
</html>
