<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "{{ url_for('static',filename='styles/keywords.css') }}" rel="stylesheet">
    <title>Palabras clave</title>
</head>
<body>
    <div class="X">
        <h1>Palabras Clave </h1>
        <ul class="SG">
          <li class="sgLi">
            <div class="box">
            <h3>Etapa Inicial</h3>
            <ul class="df">
            <li>reglamento estudiante</li>
            <li>articulo 34</li>
            <li>credencial estudiante</li>
            <li>horarios control escolar</li>
            <li>biblioteca digital</li>
            <li>malla curricular</li>
            <li>centro global de idiomas</li>
            <li>horario centro global de idiomas</li>
            <li>instalaciones deportivas</li>
            <li>cineteca</li>
            <li>requisitos extraordinario</li>
            <li>creditos por semestre</li>
            <li>requisitos materias</li>
            <li>coordinador carrera</li>
            <li>baja de materia</li>
            <li>calendario escolar</li>
            <li>semana ciencia</li>
            <li>registro materias</li>
            <li>orden de pago</li>
            <li>apoyo psicologico</li>
            <li>crisis</li>
            <li>tratamiento medico</li>
            <li>reprobar</li>
            <li>articulo 33</li>
            <li>justificante</li>
            <li>evaluacion</li>
            <li>derecho ordinario</li>
            <li>cita psicologia</li>
            <li>proteccion civil</li>
            <li>consejos division</li>
            <li>tutor</li>
            <li>recursos materias</li>
            </ul> 
          </div>
         </li> 
          <li class="sgLi">
            <div class="box">
           <h3>Etapa Media</h3>
           <ul class="s1">
            <li>becas intercambio</li>
            <li>becas</li>
            <li>convocatorias</li>
            <li>materias en otro centro</li>
            <li>solicitud de becas</li>
            <li>becarios</li>
            <li>estancia academica</li>
            <li>idiomas</li>
            <li>tipos becas</li>
            <li>manutencion</li>
            <li>excelencia</li>
            <li>grupos vulnerables</li>
            <li>santander</li>
            <li>ayudar brigadas</li>
            <li>licencia</li>
            <li>curriculum</li>
            <li>elegir tutor</li>
           </ul>
          </div>
         </li>
          <li class="sgLi">
            <div class="box">
           <h3>Etapa Final</h3>
           <ul class="s2">
            <li>servicio social</li>
            <li>realizar servicio social</li>
            <li>titulacion</li>
            <li>creditos titulacion</li>
            <li>modalidades titulacion</li>
            <li>reglamento titulacion</li>
            <li>asesor tesis</li>
            <li>plazas servicio social</li>
            <li>practicas profesionales</li>
            <li>bolsa trabajo</li>
            <li>requisitos bolsa trabajo</li>
            <li>requisitos titulacion</li>
            <li>presentacion proyecto</li>
           </ul>
          </div>
         </li>
          
          </div>
         </li> 
        </ul>
        </div>     
</body>
</html>