<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "{{ url_for('static',filename='styles/suggest.css') }}" rel="stylesheet" type="text/css">
    <title>Sugiere una Pregunta</title>
</head>
<body>
<div class="container">
    <div class="text">¡Sugiere una Pregunta aquí!</div>
    <form action="/sending-email" method="POST">
       <div class="form-row">
            <div class="input-data textarea">
               <input type="text" name="name">
               <div class="underline"></div>
               <label for="">Escribe tu nombre 😊</label>
               <br />
            </div>
       </div>
       <div class="form-row">
         <div class="input-data textarea">
            <textarea rows="8" cols="80" required name="body"></textarea>
            <br />
            <div class="underline"></div>
            <label for="">Escribe tu pregunta aquí, {{ name | safe }} 📋</label>
            <br />
            <div class="form-row submit-btn">
               <div class="input-data">
                  <div class="inner"></div>
                  <input type="submit" value="Enviar📧">
               </div>
            </div>
         </div>
    </div>
    </form>
 </div>
</body>
</html>
