@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

@media (min-width: 360px){
body{ /*body's style*/
    font-family: 'Poppins', sans-serif;
    background-color:#65BA87;
}
.title{
position: absolute;
width: 30px;
height: 30px;
left: 15px;
top: 2px;
font-family: 'Poppins', sans-serif;
font-weight: normal;
font-size: 20px;
line-height: 42px;
color: #175B0D;
}
.solar{
position: absolute;
left: 188px;
top: 25px;
}
.h1{
position: absolute;
text-align: center;
width: 150px;
height: 50px;
left: 10px;
top: 130px;
font-size: 10px;
line-height: 25px;
color: #AFD8F2;
}
.h3{
position: absolute;
text-align: center;
width: 280px;
height: 39px;
left: 35px;
top: 320px;
font-size: 12px;
line-height: 20px;
color: #1D405C;
}
.return{
position: absolute;
font-family: 'Poppins', sans-serif;
color: #FDF5E6;
font-weight: bold;
background-color: #7EC8E3;
font-size: 12px;
width: 68px;
height: 25px;
left: 145px;
top: 410px;
}
.line{
position: absolute;
width: 120px;
left: 20px;
top: 80px;
}
}

@media (min-width: 768px){
body{ /*body's style*/
    font-family: 'Poppins', sans-serif;
    background-color:#65BA87;
}
.title{
position: absolute;
width: 100px;
height: 30px;
left: 165px;
top: 19px;
font-family: 'Poppins', sans-serif;
font-weight: normal;
font-size: 36px;
line-height: 42px;
color: #175B0D;
}
.solar{
position: absolute;
left: 580px;
top: 130px;
}
.h1{
position: absolute;
text-align: center;
width: 500px;
height: 100px;
left: 22px;
top: 180px;
font-size: 20px;
line-height: 40px;
color: #AFD8F2;
}
.h3{
position: absolute;
text-align: center;
width: 450px;
height: 39px;
left: 40px;
top: 290px;
font-size: 22px;
line-height: 25px;
color: #1D405C;
}
.return{
position: absolute;
font-family: 'Poppins', sans-serif;
color: #FDF5E6;
font-weight: bold;
background-color: #7EC8E3;
font-size: 16px;
width: 87px;
height: 30px;
left: 450px;
top: 460px;
}
.line{
position: absolute;
width: 380px;
left: 85px;
top: 150px;
}
}

@media (min-width: 1200px){
body{ /*body's style*/
    font-family: 'Poppins', sans-serif;
    background-color:#65BA87;
}
.title{
position: absolute;
width: 100px;
height: 30px;
left: 315px;
top: 19px;
font-family: 'Poppins', sans-serif;
font-weight: normal;
font-size: 36px;
line-height: 42px;
color: #175B0D;
}
.solar{
position: absolute;
left: 950px;
top: 130px;
}
.h1{
position: absolute;
text-align: center;
width: 500px;
height: 100px;
left: 175px;
top: 180px;
font-size: 20px;
line-height: 40px;
color: #AFD8F2;
}
.h3{
position: absolute;
text-align: center;
width: 450px;
height: 39px;
left: 200px;
top: 290px;
font-size: 22px;
line-height: 25px;
color: #1D405C;
}
.return{
position: absolute;
font-family: 'Poppins', sans-serif;
color: #FDF5E6;
font-weight: bold;
background-color: #7EC8E3;
font-size: 16px;
width: 87px;
height: 30px;
left: 620px;
top: 460px;
}
.line{
position: absolute;
width: 380px;
left: 240px;
top: 150px;
}
}