@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color:#56B37B;
    height: 100px;
    margin: 0;
}
.solar{
    width: 105px;
    height: 85px;
}
body H1{
    text-align: center;
    margin: 0;
    color: white;
    background-color: #175B0D;
    font-style:unset;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0px;
    height: 60px;
}
form{
    width: 50%;
    max-width: 250px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.button-area {
    margin-top: 4rem;
    width: 100%;
    display: grid;
    place-items: center;
}

button {
    width: 120%;
    height: 3rem;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.4rem;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 2rem;
    background: #68BB5C;
    transition: all 0.3s ease;
}

button:hover {
    width: 100%;
    letter-spacing: 2px;
    background: transparent;
    border: 2px solid #fff;
}