@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color:#56B37B;
    height: 100px;
    margin: 0 auto;
}

.container{

    width: 100%;
    margin:0px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: repeat (4, auto);
    background-color:#56B37B ;

}
.container > div,
.containe.header ,
.container.container2
{
    font-family: 'Poppins', sans-serif;
    text-align:center ;

}

.solar{
    width: auto;
    height: 85px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 2;
}

.header{
    text-align: center;
    color: white;
    background-color: #175B0D;
    font-style:unset;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    grid-column-start: 1;
    grid-column-end:4;
    
}
.container2{
    width: auto;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
 
}

.button-area {
   
    display: grid;
    place-items: center;
    grid-row: 4;
    grid-column-start: 1;
    grid-column-start: 4;
}

button {
    width: 120%;
    height: 3rem;
    border: none;
    outline: none;
    color: black;
    font-size: 1.4rem;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 2rem;
    background: #B4F8C8;
    transition: all 0.3s ease;
}

button:hover {
    letter-spacing: 2px;
    background: transparent;
    border: 2px solid #fff;
}
