<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "{{ url_for('static',filename='styles/handling/error-login.css') }}" rel="stylesheet" type="text/css" id="theme_css">
    <title>Solar</title>
</head>
<body>
    <div class="container">
        <br><br>
        <div class="wrapper">
            <div class="logo">
                <img src="../static/images/character/solar_icon.png" style="height: 120px; width: 120px;">
            </div>
            <div class="title">
                <h1>Código Incorrecto</h1>
            </div>
                <div class="button-area">
                    <a href="/login"><button type="submit">Regresar</button></a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
