<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static',filename='styles/handling/error-update.css') }}" rel="stylesheet" type="text/css" id="theme_css">
    <title>Error data updated</title>
</head>
<body>
    <div class="solar">
        <img src="../../static/images/character/solar_icon_head.png" style ="height: 270px; width: 270px;">
    </div>
    <div class="title">
        <h1>¡Error!</h1>
    </div>
    <div class="line">
        <hr color=719FB8>
    </div>
            <div class="h1">
                <h1>Los datos no se pudieron actualizar correctamente</h1>
            </div>

            <div class="h3">
                <h3>Estamos trabajando para solucionar el problema inmediatamente</h3>
            </div>

            <a href="/form"><button type="submit" name="back" class="regresar">Regresar</button></a>
</body>
</html>