<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static',filename='styles/handling/error-form.css') }}" rel="stylesheet" type="text/css">
    <title>Error form</title>
</head>
<body>
    <div class="solar">
        <img src="../../static/images/character/solar_icon_head.png" style="height: 100px; width: 100px;">
    </div>
    <div class="title">
        <h1>¡Error!</h1>
    </div>
    <div class="line">
        <hr color=175B0D >
    </div>
    
            <div class="h1">
                <h1>El formulario no se cargó correctamente</h1>
            </div>
            <a href="/master-login"><button type="submit" name="back" class="regresar">Regresar</button></a>
</body>
</html>