{% extends 'layout/handling-error.html' %}
{% block content %}
    <div class="title" id="title">
        <h1 id="titlenumber">Error 404</h1> 
    </div>
    <div class="line1" id="line1">
        <hr color=68BB5C>
    </div>
    <div class="line2" id="line2">
        <hr color=68BB5C >
    </div>
    <div class="item1" id="item1">
        <h1>Página no encontrada</h1>
    </div>

    <div class="item2" id="item2">
        <h3>La página que estás buscando no está disponible</h3>
    </div>
{% endblock content %}
