<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static',filename='styles/handling/error-404.css') }}" rel="stylesheet" type="text/css">
    <title>Error 500</title>
</head>
<body>
    <div class="solar">
        <img src="../../static/images/character/solar_icon_head.png" style="height: 120px; width: 120px;">
    </div>
    <div class="title">
        <h1>500</h1>
    </div>
    <div class="line1">
        <hr color=68BB5C>
    </div>
    <div class="line2">
        <hr color=68BB5C>
    </div>
            <div class="h1">
                <h1>Error en el Servidor</h1>
            </div>

            <div class="h3">
                <h3>La página no está disponible</h3>
            </div>

            <a href="/"><button type="submit" name="back" class="return">Regresar</button></a>
</body>
</html>