@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
*{
  box-sizing: border-box;
}

html{
  height: 60%;
}

body{
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color:#1B2E3C;
    height: 100%;
    margin: 0;
}

span{
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 8px;
    height: 40px;
    text-align: center;
}

.header-con{
    color: white;
    background-color: #1B2E3C;
    font-style:unset;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0px;
    height: 65px;
}

.solar{
    width: 60px;
    height: 50px;
}

.chat{
    width: auto;
    height: 500px;
    position: relative;
}

input[type=text]{
    width:88%;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    margin-left: 14px;
    background-color: #65BA87;
}

input:focus{
    border: 4px solid #719FB8;
    color: black;
}

button#btns{
    color: black;
    font-family: 'Poppins', sans-serif;
    background-color: #AFD8F2;
    padding: 5px;
    border: none;
    text-align: center;
    margin-top: 5px;
    width:120px;
    height: 30px;
}



.messages{
    background-image: url(../images/wallpaper/Sketch\ Wallpaper\ \(dark\).png);
    background-position-y: -890px;
    background-position-x: -120px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 90%;
    width: 98%;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    border: 4px solid #B4F8C8;
}

#bot{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

#user{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    font-size: #175B0D;
    color: black;
}

.bot{
    font-family: 'Poppins', sans-serif;
    color: black;
}

.bot span{
    border-radius: 10px 10px 10px 0;
    margin-left: 4px;
}

.avatar{
    height: 50px;
}

span{
    background-color: #AFD8F2;
    color: black;
}

img{
    border-radius: 50%;
}

.response{
    display: flex;
    align-items: center;
    height: 30px;
}

#user span{
    border-radius: 10px 10px 0px 10px;
    margin-right: 4px;
}

/* Mobile

@media only screen and (max-width: 980px) {
    .container {
        flex-direction: column;
        justify-content: flex-start;
    }
    .chat {
        width: 75vw;
        margin: 10vw;
    }
}*/
