
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
*{
  box-sizing: border-box;
}

html{
  height: 60%;
}

body{ /*body's style*/
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color:#1B2E3C;
    height: 100%;
    margin: 0;
}

span{
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 8px;
    height: 40px;
    text-align: center;
}

.header-con{
    color: white;
    background-color: #1B2E3C;
    font-style:unset;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0px;
    height: 65px;
}

.solar{ /*image icon solar*/
    width: 60px;
    height: 50px;
}

.bg-chat{
   width: 85%;
   margin: auto;
}
.chat{
    width:auto;
    height: 500px;
}

input[type=text]{ /*anwsers's textbox style*/
    margin: 10px;
    width:60%;
    box-sizing: border-box;
    padding: 10px;
    border: #7EC8E3 1px solid;
    border-radius: 5px;
    margin-left: 14%;
    background-color: #1B2E3C;
    
}

input:focus{
    border: 4px solid #AFD8f2;
    color: white;
}

button#btns{ /*send button*/   
    color: blac;
    font-family: 'Poppins', sans-serif;
    background-color: #65BA87;
    padding: 5px;
    border: none;
    text-align: center;
    margin-top: 5px;
    width:100px;
    height: 30px;
}



.messages{
    background-image: url(../images/wallpaper/Sketch\ Wallpaper\ \(dark\).png);
    background-position-y: -890px;
    background-position-x: -120px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
    width: 75%;
    padding: 15px;
    margin: auto;
    border-radius: 10px;
    border: none;
}

#bot{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

#user{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    color: black;
}

.bot{
    font-family: 'Poppins', sans-serif;
    color: black;
}

.bot span{ /*style for the bot's message box*/
    border-radius: 10px 10px 10px 0;
    margin-left: 4px;
    background-color: #AFD8F2;
}

.avatar{
    height: 50px;
}

img{
    border-radius: 50%;
}

.response{
    display: flex;
    align-items: center;
    height: 30px;
}

#user span{ /*style and color for the user message box*/
    
    border-radius: 10px 10px 0px 10px;
    margin-right: 4px;
    background-color: #B4F8C8;
}

.button{
      float: right;
      margin-block-end: auto;
}

/*style for item class*/
.items{
    margin: center;
    color: white;
}
#item1{
    float:left;
    align-items: center;
    width:80px;
}
#logoudg{
    width:75px;
}
#item2{
    float:left;
    margin-top: 5px;
    text-align: left;
    width:60%;
    font-size:11px;
    font-display: center;
}
#item3{
    text-align: center;
    font-family: monospace;
    font-size:unset;
    float: right;
    margin-bottom:16px;
    margin-top: 30px;
}

.icons{
    float:left;
    margin-right: 5px;
}
.buttonNV{ /*CLASS for the buttons navbar style*/
    color:white;
    padding:10px;
    margin: 5px;
    border-left:none;
    border-bottom: none;
    border-top: none;
    border-right: #AFD8F2 3px solid; 
    text-align: center;
    background-color: transparent;
    font-size: 16px;
}

.img#iconKW{
    
    src: url(//static/images/icons/iconskey\(dark\).png);
}


/* Mobile

@media only screen and (max-width: 980px) {
    .container {
        flex-direction: column;
        justify-content: flex-start;
    }
    .chat {
        width: 75vw;
        margin: 10vw;
    }
}*/