<TITLE>
    Formulario preguntas
    </TITLE>
    <HEAD>
      <link href= "{{ url_for('static',filename='styles/edit_student.css') }}" rel="stylesheet" type="text/css" id="theme_css">
    </HEAD>
    <BODY>

    <H1>¡Edita el estudiante!</H1>
    <BR>

    {% for value in data %}
    <form method="post" action="/update-students">
        <img class="solar" src="/static/images/character/solar_icon_head.png" style="height: 120px; width: 120px;">
        <input type="hidden" value="{{value[0]}}" name="id_student" >
        <p>Nombre  <input type="text" value="{{value[1]}}" name="name_student" size="50"style="height: 30px;"><br></p>
        <p>Correo  <input type="text" value="{{value[2]}}" name="email_student"  size="50"style="height: 30px;"><br></p>
        <p>Código  <input type="text" value="{{value[3]}}" name="code_student"  size="50"style="height: 30px;"><br></p>
        <p>Carrera  <input type="text" value="{{value[5]}}" name="career_student"  size="50"style="height: 30px;"><br></p>
        <p>ID Carrera<input type="text" value="{{value[4]}}" name="id_career" size="50"style="height: 30px;"></p>
    <BR>
    <BR>
         <button type="submit" name="editar" class="editar">Editar</button>
    </form>
        <br>
    {% endfor %}
</BODY>
</HTML>
