<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/storage-tutor">
        Nombre del Tutor <input type="text" name="name">
        Correo del Tutor <input type="text" name="email">
        Carrera <input type="text" name="career">
        <button type="submit" name="editar" class="editar">Agregar tutor</button>
    </form>
</body>
</html>