<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static',filename='styles/tutors.css') }}" rel="stylesheet" type="text/css" id="theme_css">
    <title>Tutores</title>
</head>
<body>

    <div class="topnav">
        <img src="../../static/images/character/solar_icon.png">
        <a class="active" href="/new-question">Agregar Tutor</a>
        <a href="/tutors">Tutores</a>
        <a href="/students">Estudiantes</a>
        <a href="/form">Preguntas</a>
        <a href="/logout-master">Log out</a>
      </div>
    <table class="content-table" align="center">
        <thead>
            <tr>
                <th>Nombre</th>
                <th style="width: 300px;">Correo</th>
                <th style="width: 110px;">Carrera</th>
                <th style="width: 370px;">Tutorado</th>
                <th style="width: 180px;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for value in data %}
            <tr>
                <td>{{value[1]}}</td>
                <td >{{value[2]}}</td>
                <td style="text-align: center;">{{value[4]}}</td>
                <td>{{value[6]}}</td>
                <td style="text-align: center;">
                    <a href="/edit-tutor/{{value[0]}}/{{value[3]}}/{{value[5]}}" class="btn">Editar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
