
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static',filename='styles/home.css') }}" rel="stylesheet" type="text/css">
    <title>Bienvenido</title>
</head>
<body>
    
    <header id="header">
        <img class="solar" src="static/images/character/solar_icon_head.png">
        <h2>● Solar</h2>
    </div>

    <div class="title">
        <h1>¡Hola, 
            bienvenido a Solar!</h1>
    </div>

            <div class="h3">
                <h3>Solar es un chatbot diseñado y creado para el 
                    Centro universitario de Tonalá, con la única finalidad 
                    de ayudar a cualquier miembro de este campus con la resolución 
                    de dudas que puedan tener.</h3>
            </div>

            <a href="/login"><button type="submit" name="strt" class="start">Comenzar</button></a>
</body>
</html>