<HTML>
<TITLE>
    Formulario preguntas
    </TITLE>
    <HEAD>
        <link href= "{{ url_for('static',filename='styles/handling/created.css') }}" rel="stylesheet" type="text/css" id="theme_css">
    </HEAD>
    <BODY>

    <H1>Pregunta Creada de Forma Exitosa</H1>
    <BR><br><br>
    <FORM>
        <img class="solar" src="../../static/images/character/solar_icon_head.png" style="height: 300px; width: 300px;">
    <div class="button-area">
        <a href="/form"><button type="button">Continuar</button></a>
    </div>

    </FORM>

</BODY>
</HTML>
