@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color:#1ABC9C;
    height: 100px;
    margin: 0;
}
.solar{
    width: 105px;
    height: 85px;
}
body H1{
    text-align: center;
    margin: 0;
    color: white;
    background-color:#2C3E50;
    font-style:unset;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0px;
    height: 60px;
}
form{
    width: 50%;
    max-width: 250px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.preg{
    height: 20;
    background-color: #eee;
    border-radius: 5px;
    border: 0;
}
.resp{
    height: 20;
    background-color: #eee;
    border-radius: 5px;
    border: 0;
}
.editar{
    font-family: 'Poppins', sans-serif;
    background-color: #1B2E3C;
    font-size: 16px;
    color: #eee;
    width: 75px;
    height: 30px;
}
.etapa{
    font-family: 'Poppins', sans-serif;
    background-color: #7EC8E3;
    font-size: 16px;
    color: #000;
    width: 75px;
    height: 30px;
    border-radius: 10px;
}