* {
    font-family: sans-serif; /* Change your font family */
}


body{
    background: #f1f0ea;
    background-size: cover;
    background-position: center;
}

img{
    width: 35px;
    height: 35px;
    margin-top: 7px;
    margin-left: 15px;
}

.content-table {
    table-layout: fixed;
    width: 250px;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    /*min-width: 400px;*/
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    text-align:left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left:55px; /* half of width */
    margin-top: 60px;  /* half of height */
}

a{
    text-decoration: none;
    color: #000000;
}

/*NAVBAR*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* Add a black background color to the top navigation */
.topnav {
    background-color: #1B2E3C;
    overflow: hidden;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #EAC385;
    color: rgb(56, 47, 47);
  }

  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #EAC385;
    color: rgb(56, 47, 47);
  }


.btn{
    width: 100%;
    height: 70px;
    border: none;
    outline: none;
    color: rgb(56, 47, 47);
    cursor: pointer;
    border: 9px solid transparent;
    border-radius: 3rem;
    background: #EAC385;
    transition: all 0.3s ease;
}

.btn:hover{
    color: #000000;
    width: 80%;
    background: transparent;
    border: 2px solid #68BB5C;
}

.content-table thead tr {
    background-color: #68BB5C;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th{
    text-align: center;
}
.content-table th,
.content-table td {
    padding: 10px 12px;
    width: 300px;
    word-wrap: break-word;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
