@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");


*{
box-sizing: border-box;
font-family: 'Poppins', sans-serif;

}

html{
height: 100%;
}

body{ /*body's style*/
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
background-color:#282c2c;
height: 100%;
margin: 0;
}

span {
    padding-right: 15px;
    padding-left: 15px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 70px;
}

.bg-chat{
    margin-top: -40px;
    width: 1120px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.header-con{
    color: #f7e66b;
    background-color:#282c2c;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -10px;
    height: 75px;
}

.solar{ /*image icon solar*/
    width: 60px;
    height: 50px;
}

.chat {
    height:470px;
    width:inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type=text]{ /*Answers's textbox style*/
    padding: 10px;
    margin-right: auto;
    border-radius: 10px;
    background-color: transparent;
    border: #f7e66b 2px solid;
    width: 90%;
    color: #ffffff;
    font-weight: bold;
}

input:focus{
    outline: none;
}

button#btns{ /*send button*/
    color: white;
    margin-left: auto;
    margin-top: -25px;
    background-color: #f7e66b;
    font-weight: bold;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 30px;
    width:80px;
    height: 40px;
    cursor: pointer;
}


.messages{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 90%;
    width: 100%;
    background-image: url(../images/wallpaper/wallpaper_dark.jpg);
    background-position-y: -200px;
    background-position-x: -120px;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    border: #f7e66b  2px solid;
}



/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #D397EE;
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(118, 131, 121);
}

#bot {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 60px;
}

#user{
    display: flex;
    justify-content: flex-end;
    margin-top: 35px;
    margin-bottom: 90px;
}

.bot {
    font-family: 'Poppins', sans-serif;
    color: black;
}

.bot span{
    border-radius: 10px 10px 10px 0;
    margin-left: 8px;
}

.avatar {/*icon solar*/
    height: 50px;
}

span{
    background-color: #181c18;
    margin-top: -10px;
    color: #ffffff;
}

img{
    border-radius: 50%;
}

.response {
    display: flex;
    align-items: center;
    height: 25px;
}

#user span{
    border-radius: 10px 10px 0px 10px;
    margin-right: 4px;
}

.container2{
    position: fixed;
    left: 10px;
    bottom: 5px;
    right: 10px;
    width: 95%;
}

.items{ /*STYLE for the class items*/
    margin: center;
}

#item3{
    text-align: center;
    font-family: monospace;
    font-size:unset;
    float:none;
    font-size: 30px;
    margin-bottom:16px;
    margin-top: 30px;
}

.buttonNV{ /*CLASS for the buttons navbar style*/
    margin-top: 30px;
    text-align: center;
    background-color: transparent;
    font-size: 12px;
    cursor: pointer;
    border: none;
    color: #D397EE;
}



@media only screen and (max-width: 1200px) {
    .bg-chat{
        width: 800px;
        height: 550px; 
    }
    body{
        font-size: 12px;
    }
    .edit{
        font-size: 12px;
    }
    .send{
        font-size: 12px;
    }
    button#btns{ /*send button*/
        width:70px;
        height: 35px;
    }
    .buttonNV{
        font-size: 10px;
    }
    .solar{ /*image icon solar*/
        width: 55px;
        height: 45px;
    }
    .avatar {
        height: 45px;
    }
    .fish{
        height: 45px;
        width: 45px;
    }
}
@media only screen and (max-width: 768px) {
    .bg-chat{
        width: 450px;
        height: 450px; 
    }
    body{
        font-size: 10px;
    }
    .edit{
        font-size: 10px;
    }
    .send{
        font-size: 10px;
    }
    button#btns{ /*send button*/
        width: 45px;
        height: 30px;
    }
    .buttonNV{
        font-size: 8px;
    }
    .solar{ /*image icon solar*/
        width: 45px;
        height: 35px;
    }
    .avatar {
        height: 35px;
    }
    .fish{
        height: 35px;
        width: 35px;
    }
}

@media only screen and (max-width: 450px) {
    .bg-chat{
        width: 340px;
        height: 340px; 
    } 
    body{
        font-size: 6px;
    }
    .edit{
        font-size: 8px;
    }
    .send{
        font-size: 8px;
    }
    button#btns{ /*send button*/
        width: 35px;
        height: 25px;
    }
    .buttonNV{
        font-size: 6px;
    } 
    .solar{ /*image icon solar*/
        width: 35px;
        height: 25px;
    }  
    .avatar {
        height: 25px;
    }
    .fish{
        height: 25px;
        width: 25px;
    }
}
