<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "{{ url_for('static',filename='styles/layouts/done.css') }}" rel="stylesheet" type="text/css" id="theme_css">
    <title>¡Correcto!</title>
</head>
<body>
    <div class="container" id="item1">
       <div class="header" id="item2"> 
           <h1>¡El proceso finalizó correctamente!</h1>
       </div>
        <div class="container2" id="item3">
            <form>
                <img class="solar" src="../../static/images/character/solar_icon_head.png" style="height: 300px; width: 300px;">
        
                    <div class="button-area" id="item4">
                        <a href="/form"><button type="button" id="btn1">Continuar</button></a>
                    </div>
             </form>
         </div>
    </div>
</body>
    </html>