<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "{{ url_for('static',filename='styles/layouts/error-login.css') }}" rel="stylesheet" type="text/css" id="theme_css">
    <title>Error</title>
</head>
<body>
    <div class="container">
        <br><br>
        <div class="wrapper">
            <div class="logo">
                <img src="../static/images/character/solar_icon.png" style="height: 120px; width: 120px;">
            </div>
            <div class="title">
                <h1>Contraseña Incorrecta</h1>
            </div>
            {% block content %} {% endblock content %}
        </div>
    </div>
</body>
</html>
