<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static',filename='styles/layouts/handling-error.css') }}" rel="stylesheet" type="text/css">
    <title>Error</title>
</head>
<body >
  
<div class="container" id="container">
    <div class="solar" id="solar">
        <img src="/static/images/character/solar_sad.png" style="height: 120px; width: 70px;">
    </div>
    {% block content %} {% endblock content %}
    <div class="ref" id="refid">  
        <a href="/" class="return" id="ref"><button type="submit" name="back" class="return" id="btnback">Regresar</button></a>
    </div>
</div>

</body>
</html>